*{
	text-align: center;
}

body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: 384px;
}

.card{
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	padding: 10px;
	max-height: 250px;
}

.grid{
	margin:  auto;
	max-width: 1500px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	padding: 40px;
	
}

.grid > *:first-child{
	grid-column: 1 / span 2;
}

.grid > *:nth-child(4){
	grid-column: 2 / span 2;
}



@media(max-width: 968px){
	.grid{
		grid-template-columns: 1fr;
	}

	.grid > *:first-child,
	.grid > *:nth-child(4){
		grid-column: 1;
	}


}

